# 不要ファイル
**/__pycache__/
.ipynb_checkpoints
*.xml
.DS_Store

# 出力ファイル
experiment/out/*
!/experiment/out/**
!/experiment/out/**/.gitkeep

# エディタ・IDE設定
/.idea
/.vscode/*

# データセット
/data/*
!/data/.gitkeep

# ドキュメント
/docs/*
!/docs/.gitkeep

# 論文
/paper/*

# プレゼン資料
/presentation/*
